@import "tailwindcss";

/* #root {
 
  max-width: 1290px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.task-form-background {
  /*background-image: url('../public/image.png');  Example background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Needed for overlay */
  z-index: 1; /* Ensure content is above overlay */
}

.task-form-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7); /* White overlay with 70% opacity */
  border-radius: inherit; /* Inherit border-radius from parent */
  z-index: -1; /* Place overlay behind content */
}
